/*************************************************
************** F a r b p a l e t t e *************
*************************************************/

.color-primary-0 { color: #2B803E }	/* Main Primary color */
.color-primary-0-bg { background-color: #2B803E }	/* Main Primary color */
.color-primary-1 { color: #CDDBD0 } /* Schriftfarbe */
.color-primary-1-bg { background-color: #CDDBD0 }
.color-primary-2 { color: #6FAE7D }
.color-primary-2-bg { background-color: #6FAE7D }
.color-primary-3 { color: #035314 }
.color-primary-3-bg { background-color: #035314 }
.color-primary-4 { color: #002508 }
.color-primary-4-bg { background-color: #002508 }


/*
font-family: 'Sigmar One', cursive;
font-family: 'Saira Condensed', sans-serif;
*/

a{
    color: #CDDBD0;
}
a:hover{
   color: #fff; 
}

#wrapper{
    width: 100%;
    height: 100%;
}
#header{
    height: 50px;
}

#baeume{
    height: 50px;
    width: 28px;
    float: left;
}

#baumGross{
    float: left;
    padding: 5px 5px;
}
#baumMittel{
    float: left;
    padding-top: 21px;
    padding-left: 5px;
}
#baumKlein{
    float: left;
    padding-top: 20px;
    padding-left: 5px;
}

#sitename{
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    padding-top: 5px;
   // width: 200px;
    height: 50px;
    float: left;
}

/*************************************************
****************** M e n ü ***********************
*************************************************/

.active{
    color: #002508;
    background-color: #CDDBD0;
    border-color: #ddd #ddd #fff;
    border-bottom: 1px solid #ddd !important;
}

.menueAktiv:hover{
    color: #fff;
}

.menueLink{
    color: #CDDBD0;
}

.menueLink:hover{
    color: #fff;
}

.dropdown-menu.show{
    background-color: #2B803E;
}

.dropdown-item{
    color: #CDDBD0;
}

.dropdown-item:active{
    background-color: #CDDBD0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #CDDBD0;
}

#mapid{
    height: 650px;
    width: 100%;
}

/*************************************************
**************** F o o t e r *********************
*************************************************/

.footerCopyright{
    //width: 165px;
    float: right;
    padding-right: 10px;
}

.footerMenue{
    float: left;
    padding-left: 10px;
}

.clear{
    clear: both;
}

/*************************************************
********** M a r k e r  C l u s t e r ************
*************************************************/



.marker-cluster-small {
	/*background-color: rgba(181, 226, 140, 0.6);*/
    background-color: rgba(255, 146, 0, 0.6);
    background-color: aqua;
	}
.marker-cluster-small div {
	/*background-color: rgba(110, 204, 57, 0.6);*/
    background-color: bisque;
	}

.marker-cluster-medium {
	background-color: rgba(241, 211, 87, 0.6);
	}
.marker-cluster-medium div {
	background-color: rgba(240, 194, 12, 0.6);
	}

.marker-cluster-large {
	background-color: rgba(253, 156, 115, 0.6);
	}
.marker-cluster-large div {
	background-color: rgba(241, 128, 23, 0.6);
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: rgb(181, 226, 140);
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: rgb(110, 204, 57);
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: rgb(241, 211, 87);
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: rgb(240, 194, 12);
	}

.leaflet-oldie .marker-cluster-large {
	background-color: rgb(253, 156, 115);
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: rgb(241, 128, 23);
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}

.leaflet-cluster-anim .leaflet-marker-icon, .leaflet-cluster-anim .leaflet-marker-shadow {
	-webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in;
	-moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in;
	-o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
	transition: transform 0.3s ease-out, opacity 0.3s ease-in;
}

.leaflet-cluster-spider-leg {
	/* stroke-dashoffset (duration and function) should match with leaflet-marker-icon transform in order to track it exactly */
	-webkit-transition: -webkit-stroke-dashoffset 0.3s ease-out, -webkit-stroke-opacity 0.3s ease-in;
	-moz-transition: -moz-stroke-dashoffset 0.3s ease-out, -moz-stroke-opacity 0.3s ease-in;
	-o-transition: -o-stroke-dashoffset 0.3s ease-out, -o-stroke-opacity 0.3s ease-in;
	transition: stroke-dashoffset 0.3s ease-out, stroke-opacity 0.3s ease-in;
}

/*************************************************
********** M a p  F u l l s c r e e n ************
*************************************************/

.fullscreen-icon { 
    background-image: url(/img/icons/icon-fullscreen.png); 
}

.leaflet-retina .fullscreen-icon { 
    background-image: url(/img/icons/icon-fullscreen-2x.png); 
    background-size: 26px 26px; 
}

/* one selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
.leaflet-container:-webkit-full-screen { 
    width: 100% !important; 
    height: 100% !important; 
    z-index: 99999; 
}

.leaflet-container:-ms-fullscreen { 
    width: 100% !important; 
    height: 100% !important; 
    z-index: 99999; 
}

.leaflet-container:full-screen { 
    width: 100% !important; 
    height: 100% !important; 
    z-index: 99999; 
}

.leaflet-container:fullscreen { 
    width: 100% !important; 
    height: 100% !important; 
    z-index: 99999; 
}

.leaflet-pseudo-fullscreen { 
    position: fixed !important; 
    width: 100% !important; 
    height: 100% !important; 
    top: 0px !important; 
    left: 0px !important; 
    z-index: 99999; 
}