.color-primary-0 { color: #2B803E }	/* Main Primary color */
.color-primary-0-bg { background-color: #2B803E }	/* Main Primary color */
.color-primary-1 { color: #CDDBD0 } /* Schriftfarbe */
.color-primary-1-bg { background-color: #CDDBD0 }
.color-primary-2 { color: #6FAE7D }
.color-primary-2-bg { background-color: #6FAE7D }
.color-primary-3 { color: #035314 }
.color-primary-3-bg { background-color: #035314 }
.color-primary-4 { color: #002508 }
.color-primary-4-bg { background-color: #002508 }


/*
font-family: 'Sigmar One', cursive;
font-family: 'Saira Condensed', sans-serif;
*/

a{
    color: #CDDBD0;
}
a:hover{
   color: #fff; 
}

#wrapper{
    width: 100%;
    height: 100%;
}
#header{
    height: 50px;
}

#baeume{
    height: 50px;
    width: 28px;
    float: left;
}

#baumGross{
    float: left;
    padding: 5px 5px;
}
#baumMittel{
    float: left;
    padding-top: 21px;
    padding-left: 5px;
}
#baumKlein{
    float: left;
    padding-top: 20px;
    padding-left: 5px;
}

#sitename{
    font-family: 'Sigmar One', cursive;
    font-size: 2em;
    padding-top: 5px;
   // width: 200px;
    height: 50px;
    float: left;
}

/*MENÜ*/
.active{
    color: #002508;
    background-color: #CDDBD0;
    border-color: #ddd #ddd #fff;
    border-bottom: 1px solid #ddd !important;
}

.menueAktiv:hover{
    color: #fff;
}

.menueLink{
    color: #CDDBD0;
}

.menueLink:hover{
    color: #fff;
}

.dropdown-menu.show{
    background-color: #2B803E;
}

.dropdown-item{
    color: #CDDBD0;
}

.dropdown-item:active{
    background-color: #CDDBD0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #CDDBD0;
}

#mapid{
    height: 650px;
    width: 100%;
}

/*FOOTER*/
.footerCopyright{
    //width: 165px;
    float: right;
    padding-right: 10px;
}

.footerMenue{
    float: left;
    padding-left: 10px;
}

.clear{
    clear: both;
}

/* Marker Cluster*/

.marker-cluster-small{
    background-color: rgba(255, 146, 0, 0.6);
}